body {
    background-color: #1f2127;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

a {
    color: #19bdc9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main_item {
    line-height: 0.7;
    padding-bottom: 0.3em;
}

h2 {
    margin-top: 2em
}
